################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore1/.vs/BookStore1/v17
/BookStore1/obj
