@{
    ViewData["Title"] = "Book detail " + Model.Title;
}
@model BookStore1.Models.BookModel;

<div class="container">
    <h3>Book Details</h3>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/BookImages/Book1.jfif" asp-append-version="true" class="d-block w-100" alt="img1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/BookImages/Book2.jfif"  asp-append-version="true" class="d-block w-100" alt="img2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/BookImages/Book3.jfif" asp-append-version="true" class="d-block w-100" alt="img3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 text-primary">
                <span class="lable lable-primary">By: @Model.Author</span>
                <span class="monospaced">@Model.Title</span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>anasdnkasmn,m snkasndkamnsmdnd,a asjdjkasndkmanmasm  asdanskdn asdasd</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">
                        Read now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

