@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<img src="~/images/logo.png" class="logo" alt="logo" />
    <p><h1>Welcome to BookStore Application</h1></p>
    <p><h1>nuget pakage check</h1></p>
    <h2>@DateTime.Now</h2>
    <h2>Sum = @(5+5)</h2>
    <hr />*@
@*Multiline*@
@*@{
    int a = 50;
    int b = 50;
    int c = a*b;
    }
    <h2>mul = @c</h2>
    <h2>twitter = @@yash_patel</h2>
    <h2>My email - yash@gmail.com</h2>*@

@{
    ViewData["Title"] = "Home";
}

<environment exclude="Development">
    <h3>Development</h3>
</environment>
<environment include="Production, staging">
    <h3>Production</h3>
</environment>

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}

    <div style="text-align:center;">
        <h1>Welcome to home page @ViewData["CustomProperty"]</h1>
    </div>

