@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Signup">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
    </li>
}
